body{
    background:#f5f7fb;
    font-family:Arial, Helvetica, sans-serif;
}

.card{
    border:none;
    border-radius:15px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.navbar-brand{
    font-size:26px;
    font-weight:bold;
}